
/* VARIABLES */
:root{
    --main-bg-color: coral;
    --titles-color: #343855;
    --arrow-gray: #ab9fbf;
    --cta-pink-color: #f46789;
}

/* Font to body */
body{
    font-family: Arial, Helvetica, sans-serif;
}


/* HEADER */
header{
    display: flex;
    height: 70px;
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: space-between;
}
header .logo{
    object-fit: contain;
    max-width: 200px;
}
header nav{
    height: 60px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

header nav .nav-link{
    text-decoration: none;
    color: var(--titles-color);
    margin: 0 10px;
}
header nav img{
    margin: 0 0 0px 15px;
    cursor: pointer;
}
header .header-sign-in{
    height: 60%;
    margin: 0 20px;
    border-radius: 15px 2px 15px 15px;
    border: none;
    background-color: var(--cta-pink-color);
    cursor: pointer;
}
header .header-sign-in a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    padding: 4px;
}
